@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixeled.ttf');
}

:root{
    --cor1: #4e4ad9;
    --cor2: #6662d9;
    --cor3: #494c8c;
    --cor4: #f20707;
    --cor5: #f2f2f2;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pixel', Arial, sans-serif;
    letter-spacing: 4px;
}

.bg-1{
    background-color: var(--cor1);
}
.c-1{
    color: var(--cor1);
}

.bg-2{
    background-color: var(--cor2);
}
.c-2{
    color: var(--cor2);
}

.bg-3{
    background-color: var(--cor3);
}
.c-3{
    color: var(--cor3);
}

.bg-4{
    background-color: var(--cor4);
}
.c-4{
    color: var(--cor4);
}

.bg-5{
    background-color: var(--cor5);
}
.c-5{
    color: var(--cor5);
}

#telaGame{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}